body {
    background-color: blueviolet;
    color:white;
  }
  h1{
    display: flex;
    text-shadow: 2px 2px 5px black;
    justify-content: center;
    text-align: center;
  }
  .output{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .input--text{
    height: 50px;
    font-size:1.5rem;
  }